api/node_modules/ajv/lib/dot/missing.def
api/uploads/images/
api/src/access.log
api/src/errors.log
api/nodemon.json
api/dist
deployment.yaml


**/.creds
**/.DS_Store
**/*.secrets
**/*.ini
.DS_Store
web/.env.production
web/.env
web/public/env-config.js
mongo_data

